@font-face{
  font-family:letra;
  src: url(letras/RutaCL2.ttf);
}

#cabecera{
  font-family: letra;
  font-size: 60px;
  color: white;
  margin:0;
  text-align: left;
  padding-top:15px ;
}

#cabecera2{
  font-family: letra;
  font-size: 40px;
  color:black;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 30px;
  text-decoration:underline;
  text-align: left;
}
#navegador1 {
  padding: 0;
  list-style: none;
  padding: bottom 0;
  text-align:right;
  position: relative;
  bottom: 80px;
}

#instruccion{
  text-align: left;
  font-family: letra;
  font-size: 17px;
}

#fondo{
  background-color:  #323538;
  height: 20px;
  margin: 0%;
  font-family: letra;
  font-size: 12px;
  color: white;
}

#lineas{
  background-color: #323538;
  height: 100px;
  padding:0% ;

}
body{
  text-align: center;
  position: relative;

}
.semaforo{
  text-align: center;
  display: block;
  position: relative;
  margin: 20px,20px,20px,20px;
  top: 60px;
}
#rojo{
  text-align: center;
  display: block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: relative;
  bottom:425px;
  left: 445px;
}

#amarillo{
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: relative;
    bottom:390px;
    left:445px;
  }
#verde{
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: relative;
    bottom:365px;
    left:445px;
  }
.divs{
    text-align: center;
    display:inline-block;
    position: relative;
    padding-bottom: 80px;
  }

.maloizquierda{
    display: block;
    width: 400px;
    position: relative;
    bottom:800px;
    left: -200px;
    color: white;
    font-family:letratexto;
    font-size: 30px;
}
.maloderecha{
    display: block;
    width: 400px;
    position: relative;
    bottom: 1100px;
    left: 670px;
    color: white;
    font-family:letratexto;
    font-size: 30px;
}
.medianoizquierda{
    display: inline-block;
    width: 400px;
    position: relative;
    bottom:900px;
    left: -250px;
    color: white;
    font-family:letratexto;
    font-size: 30px;
}
.medianoderecha{
    font-size: 16px;
    display: inline-block;
    width: 400px;
    position: relative;
    left: 200px;
    bottom: 900px;
    color: white;
    font-family:letratexto;
    font-size: 30px;
}
.buenoizquierda{
    display: inline-block;
    width: 400px;
    position: relative;
    bottom:900px;
    left: -250px;
    color: white;
    font-family:letratexto;
    font-size: 30px;
}
.buenoderecha{
    display: inline-block;
    width: 400px;
    position: relative;
    bottom: 900px;
    left: 200px;
    color: white;
    font-family:letratexto;
    font-size: 30px;
}
.tr{
    text-align: center;
    background-color: red;
    font-family:letratexto;
    font-size:30px;
}
.tv{
    text-align: center;
    background-color: #2EDF0A;
    font-family:letratexto;
    font-size:30px;
}
.ta{
    text-align: center;
    background-color: yellow;
    font-family:letratexto;
    font-size:30px;
}


#divcolores{
  position: relative;
  padding: 10px;
}
#fuentes1{
  font-family: letra;
  text-align: left;
}


