/* body {
    margin: 0;
    padding: 0;
    text-align: center;
} */


@font-face{
    font-family:letra;
    src: url(letras/RutaCL2.ttf);

}
#cabecera{
    font-family: letra;
    font-size: 60px;
    color: white;
    margin:0;
    text-align: left;
    padding-top:15px ;
}

#cabecera2{
    font-family: letra;
    font-size: 40px;
    color:black;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 30px;
    text-decoration:underline;
    text-align: left;
}
#navegador1 {
    padding: 0;
    list-style: none;
    padding: bottom 0;
    text-align:right;
    position: relative;
    bottom: 80px;
}
#fondo{
    background-color:  #323538;
    height: 20px;
    margin: 0%;
  
}
#lineas{
    background-color: #323538;
    height: 100px;
    padding:0% ;
  
}

.fotos_lesiones{
    padding-left: 40px;
    display: grid;
    text-align: left;   
    margin-bottom: auto;
}
#instruccion{
    font-family: letra;
    font-size: 20px;
}

#g1{
    width: 700px;
    position: relative;
    left: 500px;
    bottom: 850px;

   
}
#g2{
    width: 700px;
    position: relative;
    left: 500px;
    bottom: 850px;
}
#g3{
    width: 700px;
    position: relative;
    left: 500px;
    bottom: 850px;
}
#g4{
    width: 700px;
    position: relative;
    left: 500px;
    bottom: 850px;
}
#g5{
    width: 700px;
    position: relative;
    left: 500px;
    bottom: 850px;
}
.fotos{
    padding: 15px;
}

#t1{
    font-family: letra;
    font-size: 17px;
    position: relative;
    bottom: 520px;
    left: 150px;
}
#t2{
    font-family: letra;
    font-size: 17px;
    position: relative;
    bottom: 448px;
    left: 150px;
}

#t3{
    font-family: letra;
    font-size: 17px;
    position: relative;
    bottom: 370px;
    left: 150px;
}

#t4{
    font-family: letra;
    font-size: 17px;
    position: relative;
    bottom: 298px;
    left: 150px;
}

#t5{
    font-family: letra;
    font-size: 17px;
    position: relative;
    bottom:220px;
    left: 150px;
}

#tg1{
    position: relative;
    font-family: letra;
    font-size: 15px;
    color: white;
    bottom: 720px;
    left: 560px;
}

#tg2{
    position: relative;
    font-family: letra;
    font-size: 15px;
    color: white;
    bottom: 720px;
    left: 510px;
}
#tg3{
    position: relative;
    font-family: letra;
    font-size: 15px;
    color: white;
    bottom: 720px;
    left: 480px;
}
#tg4{
    position: relative;
    font-family: letra;
    font-size: 15px;
    color: white;
    bottom: 720px;
    left: 460px;
}
#tg5{
    position: relative;
    font-family: letra;
    font-size: 15px;
    color: white;
    bottom: 720px;
    left: 480px;
}
