@font-face{
  font-family:letra;
  src: url(letras/RutaCL2.ttf);
}

#cabecera{
  font-family: letra;
  font-size: 60px;
  color: white;
  margin:0;
  text-align: left;
  padding-top:15px ;
}

#cabecera2{
  font-family: letra;
  font-size: 40px;
  color:black;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 30px;
  text-decoration:underline;
  text-align: left;
}
#navegador1 {
  padding: 0;
  list-style: none;
  padding: bottom 0;
  text-align:right;
  position: relative;
  bottom: 80px;
}
#instruccion{
  font-family: letra;
  font-size: 17px;
}

#lineas{
  background-color: #323538;
  height: 100px;
  padding:0% ;

}
#fondo{
  background-color:  #323538;
  height: 20px;
  position: relative;
  top: 75px;
  margin: 0%;
}

.div{
  height: 500px;
  margin: 0%;
}
#auto{
  margin:auto;
  display:inline-block;
  position: relative;
  width: 500px;
}
#cinad{
  display: block;
  position: relative;
  bottom: 200px;
  left:350px;
  width: 60px;
  height: 50px;
}
#cinat{
  display: block;
  position: relative;
  bottom: 270px;
  left:250px;
  width: 50px;
  height: 80px;
}
#silla{
  display: block;
  position: relative;
  bottom: 300px;
  left:340px;
  width: 95px;
  height: 95px;
}
#airbag{
  display: block;
  position: relative;
  bottom: 400px;
  left:172px;
  height: 55px;
  width: 55px;
}
.txcinad{
  position: relative;
  text-align: left;
  bottom: 200px;
  padding-right: 60%; 
  color: white;
  padding-left: 40px;
}
.txcinat{
  position: relative;
  text-align: left;
  bottom: 200px;
  padding-right: 60%; 
  color: white;
  padding-left: 40px;
}
.txsilla{  
  position: relative;
  text-align: left;
  bottom: 200px;
  padding-right: 60%; 
  color: white;
  padding-left: 40px;
}
.txairbag{  
  position: relative;
  text-align: left;
  bottom: 200px;
  padding-right: 60%; 
  color: white;
  padding-left: 40px;
}



.botones{
  position: relative;
  bottom: 1100px;
}
.botones1{
  position: relative;
  bottom: 1100px;
}
#gr1{
  width:600px;
}
#gr2{
  width:600px;
}
#gr3{
  width:600px;
}
#gr4{
  width:600px;
}


