@font-face{
  font-family:letratexto;
  src: url(Letra1.TTF);
}
.semaforo{
  position: relative;
  left: 180px;
  bottom: 180px;
}
#rojo{
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    bottom:615px;
    left: 622px;
  }

#amarillo{
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    bottom:455px;
    left:622px;
  }
#verde{
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    bottom:295px;
    left:622px;
  }
.divs{
    text-align: center;
    display:inline-block;
    position: relative;
    padding-bottom: 80px;
  }

.maloizquierda{
    display: block;
    width: 400px;
    position: absolute;
    bottom:314px;
    right:600px;
    color: white;
    font-family:letratexto;
    font-size: 30px;
}
.maloderecha{
    display: block;
    width: 400px;
    position: absolute;
    bottom:360px;
    left:850px;
    color: white;
    font-family:letratexto;
    font-size: 30px;
}
.medianoizquierda{
    display: block;
    width: 400px;
    position: absolute;
    bottom:300px;
    right:600px;
    color: white;
    font-family:letratexto;
    font-size: 30px;
}
.medianoderecha{
    font-size: 16px;
    display: block;
    width: 400px;
    position: absolute;
    bottom:340px;
    left:850px;
    color: white;
    font-family:letratexto;
    font-size: 30px;
}
.buenoizquierda{
    display: block;
    width: 400px;
    position: absolute;
    bottom:340px;
    right:600px;
    color: white;
    font-family:letratexto;
    font-size: 30px;
}
.buenoderecha{
    display: block;
    width: 400px;
    position: absolute;
    bottom: 300px;
    left:850px;
    color: white;
    font-family:letratexto;
    font-size: 30px;
}
.tr{
    text-align: center;
    background-color: red;
    font-family:letratexto;
    font-size:30px;
}
.tv{
    text-align: center;
    background-color: #2EDF0A;
    font-family:letratexto;
    font-size:30px;
}
.ta{
    text-align: center;
    background-color: yellow;
    font-family:letratexto;
    font-size:30px;
}
#cabecera{
  position: relative;
  font-family:letratexto;
  font-size: 50px;
  padding: 20px;

}
#cabecera1{
  position: relative;
  font-family:letratexto;
  font-size: 40px;
  padding: 20px;
}
#instruccion{
  position: relative;
  bottom:300px; 
  padding:20px;
  font-family:letratexto;
  margin: 10px 20px 10px 5px;
  font-size:20px;

}
.navegador{
  display: block;
  position: relative;
  left: 530px;
  padding: 10px;
  bottom: 300px;

}
#divcolores{
  position: relative;
  bottom: 200px;
  padding: 10px;
}
#historia{
  position: relative;
  bottom: 30px;
}
#sugerencias{
  position: relative;
  bottom: 30px;
}
#tecnologia{
  position: relative;
  top: 10px;
  right: 25px;
}
