@font-face{
    font-family:letra;
    src: url(letras/RutaCL2.ttf);
}
#cabecera{
    font-family: letra;
    font-size: 60px;
    color: white;
    margin:0;
    text-align: left;
    padding-top:15px ;
}

#cabecera2{
    font-family: letra;
    font-size: 40px;
    color:black;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 30px;
    text-decoration:underline;
    text-align: left;
}
#navegador1 {
    padding: 0;
    list-style: none;
    padding: bottom 0;
    text-align:right;
    position: relative;
    bottom: 80px;
}
#fondo{
    background-color:  #323538;
    height: 20px;
    margin: 0%;
  
}
#lineas{
    background-color: #323538;
    height: 100px;
    padding:0% ;
  
}
#instruccion{
    padding-bottom: 80px;
    font-family: letra;
    font-size: 17px;
}
.graficos{
    margin: auto;
    padding-left: 30px;
    


}
#bandera{
    position: relative;
    bottom: 340px;
    right: 690px;
  
    transform: rotate(20deg);
}
#boton1{
    position: relative;
    right: 602px;
    bottom: 320px;
    z-index: 100;
}
#boton2{
    position: relative;
    right: 492px;
    bottom: 295px;
    z-index: 100;
}
#boton3{
    position: relative;
    right: 448px;
    bottom: 270px;
    z-index: 100;
}
#boton4{
    position: relative;
    right: 278px;
    bottom: 225px;
    z-index: 100;
}

#auto1{
    position: relative;
    right:860px;
    bottom: 280px;
    transform: rotate(10deg);
    z-index: 100;
}
#auto2{
    position: relative;
    right:730px;
    bottom: 250px;
    z-index: 100;
}
#auto3{
    position: relative;
    right:610px;
    bottom: 220px;
    transform: rotate(10deg);
    z-index: 100;
}
#auto4{
    position: relative;
    right: 470;
    bottom: 190px;
    transform: rotate(5deg);
    z-index: 100;
}
#auto5{
    position: relative;
    right: 305px;
    bottom: 148px;
    transform: rotate(10deg);
    z-index: 100;
}

#ejeY{
    position: relative;
    font-family: letra;
    right: 660px;
    bottom: 700px;
    transform: rotate(-90deg);   
    z-index: 100;
    color: white;
}

#ley1{
    position: relative;
    font-family: letra;
    font-size: 13px;
    left: 105px;
    bottom: 40px;
    z-index: 100;
    color: white;
    font-stretch:extra-expanded;
    width: 100%; 
   
}
#ley2{
    position: relative;
    font-family:letra;
    font-size: 13px;
    left: 270px;
    bottom: 67px;
    z-index: 100;
    color: white;
}
#ley3{
    position: relative;
    font-family: letra;
    font-size: 13px;
    left: 345px;
    bottom: 95px;
    z-index: 100;
    color: white;
}

#ley4{
    position: relative;
    font-family: letra;
    font-size: 13px;
    left: 570px;
    bottom: 125px;
    z-index: 100;
    color: white;
}


.textostodos{
    margin-left: 800px;
    margin-right: 20px;
}

.tituloley{
    font-family: letra;
    font-size: xx-large;
    color: white;
    
}
.subtituloley{
    font-family: letra;
    font-size: larger;
    color: white;

}
.textoley{
    font-family: letra;
    font-size: medium;
    color: white;

}
/* LEY TOLERANCIA 0 */
#ley0{
    position: absolute;
    margin-left: 60%;
    margin-right: 100px;
    text-align: center;
    top: 250px;
    display: inline-block;
    

}
#billete{
    position:relative;
    right:80px;
    
}
#lice{
    position: relative;
    top:80px;
    right: 175px;
}
#carcel{
    position:relative;
    top:160px;
    right: 278px;
}
#multa{
    position:relative;
    left: 90px;
    bottom: 60px;
    margin-right: 20%;
    font-family: letra;
    color: white;

}
#licencia{
    position:relative;
    left: 90px;
    bottom: 30px;
    margin-right: 20%;
    font-family: letra;
    color: white;
}
#prision{
    position:relative;
    left: 90px;
    margin-right: 20%;
    font-family: letra;
    color: white;

}
/* LEY EMILIA */
#leyemilia{
    position: absolute;
    margin-left: 60%;
    margin-right: 100px;
    text-align: center;
    top: 250px;
    display: inline-block;
}
#billete1{
    position:relative;
    right:80px;
    
}
#lice1{
    position: relative;
    top:80px;
    right: 175px;
}
#carcel1{
    position:relative;
    top:160px;
    right: 278px;
}
#multa1{
    position:relative;
    left: 50px;
    bottom: 60px;
    margin-right: 20%;
    font-family: letra;
    color: white;
}

#licencia1{
    position:relative;
    left: 80px;
    bottom: 30px;
    margin-right: 20%;
    font-family: letra;
    color: white;

}
#prision1{
    position:relative;
    left: 90px;
    margin-right: 20%;
    font-family: letra;
    color: white;

}
/* LEY NO CHAT */
#leychat{
    position: absolute;
    margin-left: 60%;
    margin-right: 100px;
    text-align: center;
    top: 250px;
    display: inline-block;
}
#billete2{
    position:relative;
    right:120px;}
#multa2{
    position:relative;
    left: 86px;
    bottom: 50px;
    margin-right: 20%;
    font-family: letra;
    color: white;

}
/* LEY 50 km/h */
#ley50{
    position: absolute;
    margin-left: 60%;
    margin-right: 100px;
    text-align: center;
    top: 250px;
    display: inline-block;

}
#billete3{
    position:relative;
    right:120px;
}
#multa3{
    position:relative;
    left: 80px;
    bottom: 50px;
    margin-right: 20%;
    font-family: letra;
    color: white;

}

#linea1{
    position: relative;
    bottom: 420px;
    right: 27px;
    transform: rotate(-90deg);
    z-index: 0;
}
#linea2{
    position: relative;
    bottom: 406px;
    right: 230px;
    transform: rotate(-90deg);
    z-index: 0;
}
#linea3{
    position: relative;
    bottom: 392px;
    right: 473px;
    transform: rotate(-90deg);
    z-index: 0;
}
#linea4{
    position: relative;
    bottom: 375px;
    right: 555px;
    transform: rotate(-90deg);
    z-index: 0;
}

#textoporcentaje{
    position: relative;
    top: 60px;
    right: 100px;
}
#porcentaje{
    position: relative;
    left:150px;
}
#textoporcentaje2{
    position: relative;
    top: 60px;
    right: 100px;
}
#porcentaje2{
    position: relative;
    left:150px;
}
#textoporcentaje3{
    position: relative;
    top: 40px;
    right: 80px;
    margin-right: 100px;
}
#porcentaje3{
    position: relative;
    left:150px;
    bottom: 50px;
}
#textoporcentaje4{
    position: relative;
    top: 35px;
    right: 50px;
    margin-right: 150px;
}
#porcentaje4{
    position: relative;
    left:150px;
    bottom: 50px;
}

#fondo{
    font-family: letra;
}



/* 

}
#linea2{
    position: absolute;
    left: 197px;
    bottom: -95px;
    transform: rotate(-90deg);
    
}


#linea3{
    position: absolute;
    left: 305px;
    bottom: -115px;
    transform: rotate(-90deg);
    
}
#leyrota4{
    position: absolute;
    font-family: letratexto;
    font-size: larger;
    left: 636px;
    bottom: 180px;
    transform: rotate(-90deg);
    z-index: 100;
    color:white;
}
#linea4{
    position: absolute;
    left: 572px;
    bottom: -140px;
    transform: rotate(-90deg);
    
}*/

/*
#texto{
    position: absolute;
    left: 30px;
    bottom: 50px;
}
#texto2{
    position: absolute;
    left: 196px;
    bottom: 50px;
}
#texto3{
    position: absolute;
    left: 358px;
    bottom: 50px;
}
#texto4{
    position: absolute;
    left: 446px;
    bottom: 50px;
}
#texto5{
    position: absolute;
    left: 682px;
    bottom: 50px;
}
.textos{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
#palito{
    position: absolute;
    left: 48px;
    bottom: 67px;
}
#palito2{
    position: absolute;
    left: 214px;
    bottom: 67px;
}
#palito3{
    position: absolute;
    left: 376px;
    bottom: 67px;
}
#palito4{
    position: absolute;
    left: 464px;
    bottom: 67px;
}
#palito5{
    position: absolute;
    left: 702px;
    bottom: 67px;
}
#auto1{
    position: absolute;
    left: 60px;
    bottom: 395px;
    transform: rotate(10deg);
    z-index: 100;
}
#auto2{
    position: absolute;
    left: 250px;
    bottom: 380px;
    z-index: 100;
}
#auto3{
    position: absolute;
    left: 360px;
    bottom: 320px;
    transform: rotate(10deg);
    z-index: 100;
}
#auto4{
    position: absolute;
    left: 540px;
    bottom: 300px;
    transform: rotate(5deg);
    z-index: 100;
}
#auto5{
    position: absolute;
    left: 700px;
    bottom: 240px;
    transform: rotate(10deg);
    z-index: 100;
}
#ley0{
    position:absolute;
    left: 850px;
    right: 50px;
    bottom: 350px;
    color: white;

}
#leyemilia{
    position:absolute;
    left: 850px;
    right: 50px;
    bottom: 350px;
    color: white;

}
#leychat{
    position:absolute;
    left: 850px;
    right: 50px;
    bottom: 350px;
    color: white;

}
#ley50{
    position:absolute;
    left: 850px;
    right: 50px;
    bottom: 350px;
    color: white;

}
.tituloley{
    font-family: letratexto;
    font-size: xx-large;
}
.subtituloley{
    font-family: letratexto;
    font-size: larger;
}
.textoley{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}
.textoicono{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:small;
    text-align: center;
}
#boton1{
    position: absolute;
    left: 185px;
    bottom: 470px;
    z-index: 100;
}
#boton2{
    position: absolute;
    left: 346px;
    bottom: 440px;
    z-index: 100;
}
#boton3{
    position: absolute;
    left: 435px;
    bottom: 420px;
    z-index: 100;
}
#boton4{
    position: absolute;
    left: 673px;
    bottom: 360px;
    z-index: 100;
}
#bandera{
    position: absolute;
    left: 50px;
    bottom: 490px;
    transform: rotate(20deg);
}
#billete{
    position:absolute;
    left: 850px;
    bottom: 280px;
}
#billete2{
    position:absolute;
    left: 860px;
    bottom: 240px;
}
#lice{
    position: absolute;
    left: 1020px;
    bottom: 280px;
}
#carcel{
    position:absolute;
    left: 1160px;
    bottom: 266px;
}
#multa{
    position:absolute;
    left: 860px;
    right: 365px;
    color: white;
    bottom: 185px;
}
#licencia{
    position:absolute;
    left: 1045px;
    right: 205px;
    color: white;
    bottom: 185px;
}
#prision{
    position:absolute;
    left: 1194px;
    right: 56px;
    color:white;
    bottom: 185px;
}
#multa1{
    position:absolute;
    left: 870px;
    right: 360px;
    color: white;
    bottom: 230px;
}
#licencia1{
    position:absolute;
    left: 1045px;
    right: 210px;
    color: white;
    bottom: 200px;
}
#prision1{
    position:absolute;
    left: 1187px;
    right: 57px;
    color:white;
    bottom: 150px;
}
#multa2{
    position:absolute;
    left: 1050px;
    right: 80px;
    color: white;
    bottom: 278px;
    font-size: large;
}
#multa3{
    position:absolute;
    left: 1050px;
    right: 80px;
    color: white;
    bottom: 278px;
    font-size: large;
}
#cuadro{
    position:absolute;
    left: 830px;
    width: 500px;
    bottom: 40px;
    opacity: 0.7;
}
#cuadro2{
    position:absolute;
    left: 830px;
    width: 500px;
    bottom: 30px;
    opacity: 0.7;
}
#cuadro3{
    position:absolute;
    left: 830px;
    width: 500px;
    bottom:100px;
    opacity: 0.7;
}
#cuadro4{
    position:absolute;
    left: 830px;
    width: 500px;
    bottom:120px;
    opacity: 0.7;
}*/
/* .ale{
   text-align: left;
   margin: auto;
   

} */
/*
#lineas{
    position: absolute;
    bottom: -100px;
    z-index: -100;
}
#linea1{
    position: absolute;
    left: 35px;
    bottom: -95px;
    transform: rotate(-90deg);
    z-index: 0;
}
#textocuadro1{
    position: absolute;
    width: 470px;
    left: 848px;
    bottom: 45px;
    z-index: 100;
    font-size: large;
}
#textocuadro2{
    position: absolute;
    width: 470px;
    left: 860px;
    bottom: 35px;
    z-index: 100;
    font-size: large;
}
#textocuadro3{
    position: absolute;
    width: 470px;
    left: 860px;
    bottom: 100px;
    z-index: 100;
    font-size: large;
}
#textocuadro4{
    position: absolute;
    width: 470px;
    left: 860px;
    bottom: 130px;
    z-index: 100;
    font-size: large;
} */